# Import Datasets

## Extract Relevant Columns

In [10]:
import pandas as pd
import numpy as np

In [11]:
#this data was constructed without embedded data, and is easier to identify by column name
meta_data = pd.read_csv("data/april_8_meta.csv") 
#raw_data = raw_data.loc[2:,] #drop header

meta_data = meta_data.iloc[2:] #grab the second row for the header

In [12]:
meta_data

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Review11_DO,Block12_DO,Block13_DO,Review4_Cost_DO,Review5_Cost_DO,Review8_Cost_DO,Review10_Cost_DO,Review11_Cost_DO,Review12_Cost_DO,AsianAmericanDiscrimination_DO
2,2021-03-29 09:59:08,2021-03-29 10:05:10,Survey Preview,NaN,100,361,True,2021-03-29 10:05:11,R_3kpkeubEVJMXVeY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-03-30 10:40:55,2021-03-30 11:30:11,Survey Preview,NaN,100,2956,True,2021-03-30 11:30:13,R_2rORoun447CrzQB,NaN,...,Q22.2,Q23.3,Q24.1,NaN,NaN,NaN,NaN,NaN,NaN,Q38.6|Q38.5|Q38.2|Q38.10|Q38.3|Q38.1|Q38.9|Q38...
4,2021-03-30 12:11:05,2021-03-30 12:21:26,Survey Preview,NaN,100,621,True,2021-03-30 12:21:28,R_2QSquguoMN5Dj7A,NaN,...,NaN,NaN,Q24.4,Q25.4|Q25.5,NaN,Q27.4|Q27.5,Q28.2|Q28.5,Q29.2|Q29.5,Q30.4|Q30.5,Q38.10|Q38.9|Q38.4|Q38.2|Q38.1|Q38.3|Q38.5|Q38...
5,2021-03-30 13:58:31,2021-03-30 14:01:44,IP Address,136.50.29.235,100,193,True,2021-03-30 14:01:45,R_u1yNIpPNbXY8GXv,NaN,...,NaN,NaN,NaN,Q25.4|Q25.5,NaN,Q27.3|Q27.5,Q28.4|Q28.5|Q28.6,Q29.2|Q29.5|Q29.6,Q30.1|Q30.5|Q30.6,Q38.4|Q38.6|Q38.1|Q38.2|Q38.3|Q38.9|Q38.10|Q38...
6,2021-03-30 14:40:12,2021-03-30 15:31:50,Survey Preview,NaN,100,3098,True,2021-03-30 15:31:53,R_2Yn2e6TZ2jGGDgh,NaN,...,NaN,NaN,Q24.2,Q25.4|Q25.5,NaN,Q27.3|Q27.5,Q28.3|Q28.5|Q28.6,Q29.4|Q29.5|Q29.6,Q30.1|Q30.5|Q30.6,Q38.3|Q38.1|Q38.6|Q38.9|Q38.10|Q38.2|Q38.7|Q38...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,2021-04-08 08:56:47,2021-04-08 10:02:34,IP Address,71.68.161.90,100,3946,True,2021-04-08 10:02:35,R_1LoCz8U1QLPfvf7,NaN,...,Q22.4,Q23.3,Q24.2,NaN,NaN,NaN,NaN,NaN,NaN,Q38.5|Q38.6|Q38.10|Q38.7|Q38.4|Q38.9|Q38.1|Q38...
287,2021-04-08 09:04:50,2021-04-08 10:16:30,IP Address,71.202.175.230,100,4299,True,2021-04-08 10:16:31,R_1OAByytUGVrtU3e,NaN,...,Q22.2,Q23.4,Q24.4,NaN,NaN,NaN,NaN,NaN,NaN,Q38.3|Q38.1|Q38.2|Q38.7|Q38.6|Q38.9|Q38.5|Q38....
288,2021-04-08 10:11:29,2021-04-08 10:45:22,IP Address,135.180.163.197,100,2033,True,2021-04-08 10:45:23,R_2EcQW56tjOPtrWF,NaN,...,Q22.1,Q23.4,Q24.2,NaN,NaN,NaN,NaN,NaN,NaN,Q38.7|Q38.4|Q38.2|Q38.5|Q38.9|Q38.1|Q38.6|Q38....
289,2021-04-07 17:30:01,2021-04-08 10:46:32,IP Address,98.37.53.140,100,62191,True,2021-04-08 10:46:32,R_1jpO6V8OyH70Puf,NaN,...,Q22.4,Q23.3,Q24.3,NaN,NaN,NaN,NaN,NaN,NaN,Q38.10|Q38.9|Q38.7|Q38.5|Q38.1|Q38.6|Q38.2|Q38...
290,2021-04-01 10:19:10,2021-04-01 10:56:26,IP Address,185.199.226.8,69,2236,False,2021-04-08 10:56:29,R_1IWBZGdJhZOx3Il,NaN,...,Q22.1,Q23.3,Q24.1,NaN,NaN,NaN,NaN,NaN,NaN,Q38.4|Q38.1|Q38.3|Q38.6|Q38.9|Q38.7|Q38.10|Q38...

In [13]:
#cleaning up raw data

#year, gender, gender -other, race, primary role, year at berk, 
#transfer, degree, access SM - read access SM - write
demo = ["StartDate, ResponseID", "QID214_TEXT", "QID367", "QID367_6_TEXT", "", "QID766", "QID767",
           "QID768", "QID341", "QID251_1", "QID251_2"]

demo_meta = ["StartDate", "ResponseId", "Q2.4", "Q2.1", "Q2.2", "Q2.2_6_TEXT", "Q2.8", "Q2.9",
           "Q2.10", "Q2.14", "Q2.18_1", "Q2.18_2"]

#support mental health, social distancing, drag to 50, demeaning womxn
#health eating habits, stop a friend SVSH, recall, receive more info, contacted
outcomes = ["QID425_1",	"QID426_1",	"QID427_1",	"QID428_1",
            "QID429_1",	"QID430_1", "QID432", "QID434", "QID769_TEXT"]

outcomes_meta = ["Q92.1_1", "Q92.2_1","Q92.3_1", "Q92.4_1",
            "Q92.5_1", "Q92.6_1", "Q91.1", "Q97.1", "Q98.2"]

#page times: control pg 1, control pg 2, treat pg 1, treat pg 2

pages = ["Q86.1_Page Submit", "Q87.6_Page Submit", "Q93.1_Page Submit", "Q94.6_Page Submit"]

rename_cols = {"StartDate":"date","ResponseId": "id", "Q2.1": "year", "Q2.2": "gender", "Q2.2_6_TEXT": "gender-text", 
               "Q2.4": "race", "Q2.8": "role", "Q2.9": "student_year", "Q2.10": "transfer", 
               "Q2.14":"highest_degree", "Q2.18_1":"read_sm", "Q2.18_2":"write_sm", 
               "Q92.1_1": "mental_health",	"Q92.2_1": "social_distancing", "Q92.3_1":"drag_50",	
               "Q92.4_1":"sexist_comment", "Q92.5_1":"support_eating", "Q92.6_1":"stop_svsh", 
               "Q97.1": "treat_recall", "Q91.1": "control_recall", "Q98.2":"receive_info", 
               "Q86.1_Page Submit": "control_pg1", "Q87.6_Page Submit": "control_pg2", 
                "Q93.1_Page Submit": "treat_pg1", "Q94.6_Page Submit": "treat_pg2"}

meta = ["social_media_group", "social_media_year"]
columns = demo_meta + outcomes_meta + meta + pages
meta_data = meta_data[columns]
meta_data = meta_data.rename(columns = rename_cols).set_index("id")

In [14]:
df = meta_data

### Binarize Treatment Column

In [17]:
df['social_media_group'].value_counts()

non_cis_man_treatment    73
non_cis_man_control      41
cis_man_control          35
cis_man_treatment        32
non_cis_men_control      30
not_cis_man_treatment     1
Name: social_media_group, dtype: int64

## Apply Exclusion Criteria

In [18]:
df = df[pd.to_datetime(df["date"]) > pd.to_datetime("2021-04-06")] #only get xlab data

In [19]:
df = df[df["drag_50"] == '50'] #this indicator tells us participants did not read instructions
df = df[df['student_year'].notna()] #we only care about students at berk
df = df[df['transfer'].notna()]

In [20]:
len(df) #number of rows left after exclusion

166

## Binarize transfer column

In [21]:
transfer = df["transfer"].str.replace("No", "0") #codes "not transfer" as baseline
transfer = transfer.str.replace("Yes", "1") 
df["transfer"] = transfer #replace the column with cleaned column

## Clean up Gender Columns

In [22]:
df["gender-text"].value_counts() #check to see if anyone wrote in their gender. if so, may have to hand-code into or add into pref not to disclose

Questioning    1
Male           1
Name: gender-text, dtype: int64

In [23]:
df = df[df["gender-text"]!= "Male"] #we don't know whether this person is cis or trans -- dropped

In [24]:
df["gender-text"].value_counts()

Questioning    1
Name: gender-text, dtype: int64

In [25]:
gender = df['gender'].fillna(df['gender-text']) #bring in any write in genders into the gender column

In [26]:
#check to ensure none of the gender-text values denote that the individual is a cis man because the following code
#automatically codes anyone who wrote in their gender as NOT a cis man

In [27]:
gender = gender.str.replace("Cisgender Man", "0") #code cisman as baseline
gender = gender.str.replace("[\D].*", "1") #code all other genders as 1
gender #may have to figure out how to handle nulls

id
R_2Ww2RqGNH9yctjs    1
R_3qe5vira5vFiYOW    1
R_21gN207HSdeja1t    1
R_1PaTouXujEuwlqR    1
R_2PALXRePS8B62fv    1
                    ..
R_vTaihJ4i8CxUA5r    0
R_0js79IbJxViz1br    0
R_Bsry57zCyOkn4rf    1
R_1LoCz8U1QLPfvf7    1
R_2EcQW56tjOPtrWF    1
Name: gender, Length: 165, dtype: object

In [28]:
df["gender"] = gender #replace the column with cleaned column
df = df.drop("gender-text", axis = 1) #don't need this anymore

## One-Hot Encode Categorical Variables

In [29]:
def OHE(df, column, prefix = None):
    X = pd.get_dummies(df[column].str.lower(), prefix = prefix) #currently, results in multicollinear columns.
    df = df.join(X, on = "id")
    df = df.drop(column, axis = 1) #don't need this anymore
    return df

In [30]:
df = OHE(df, "race")
df = OHE(df, "role")
df = OHE(df, "student_year")
df = OHE(df, "highest_degree")
df = OHE(df, "read_sm", prefix = "read")
df = OHE(df, "write_sm", prefix = "write")
df.head()

,date,year,gender,transfer,mental_health,social_distancing,drag_50,sexist_comment,support_eating,stop_svsh,...,no college,some college,read_daily,read_less than weekly,read_more than once a day,read_weekly,write_daily,write_less than weekly,write_more than once a day,write_weekly
id,,,,,,,,,,,,,,,,,,,,,
R_2Ww2RqGNH9yctjs,2021-04-06 16:52:23,2000,1,0,90,51,50,60,61,90,...,1,0,0,0,1,0,0,1,0,0
R_3qe5vira5vFiYOW,2021-04-06 17:35:11,2000,1,0,78,36,50,61,71,96,...,0,1,1,0,0,0,0,1,0,0
R_21gN207HSdeja1t,2021-04-06 19:08:49,2001,1,0,97,8,50,57,92,70,...,0,1,0,0,1,0,0,1,0,0
R_1PaTouXujEuwlqR,2021-04-06 19:27:18,2000,1,0,92,81,50,81,85,86,...,0,1,0,0,1,0,0,1,0,0
R_2PALXRePS8B62fv,2021-04-06 20:16:01,1999,1,0,91,78,50,20,64,95,...,1,0,0,0,1,0,0,0,0,1

In [31]:
rename = {'black or african american': 'black', 'hispanic or latino': 'latino', 'non-hispanic white': 'white',
       'undergraduate student': 'undergrad_student', 'graduate student': 'grad_student','1st year':"1st_year", 
          '2nd year': "2nd_year", '3rd year': "3rd_year", '4th year':'4th_year', 'some college': "some_college", 'read_daily': "read_daily", 'read_more than once a day': 'read_daily_more',
       'write_less than weekly':"write_less_weekly", 'write_more than once a day': 'write_more_daily', '5th year or beyond': '5th_year_plus', 'no college': 'no_college',
          "bachelor's degree": 'bachelor_degree','read_less than weekly': 'read_less_weekly'}

df = df.rename(columns = rename)

## Operationalize Outcomes

In [32]:
df["outcome"] = abs(91 - df["stop_svsh"].astype(int))
df.head()

,date,year,gender,transfer,mental_health,social_distancing,drag_50,sexist_comment,support_eating,stop_svsh,...,some_college,read_daily,read_less_weekly,read_daily_more,read_weekly,write_daily,write_less_weekly,write_more_daily,write_weekly,outcome
id,,,,,,,,,,,,,,,,,,,,,
R_2Ww2RqGNH9yctjs,2021-04-06 16:52:23,2000,1,0,90,51,50,60,61,90,...,0,0,0,1,0,0,1,0,0,1
R_3qe5vira5vFiYOW,2021-04-06 17:35:11,2000,1,0,78,36,50,61,71,96,...,1,1,0,0,0,0,1,0,0,5
R_21gN207HSdeja1t,2021-04-06 19:08:49,2001,1,0,97,8,50,57,92,70,...,1,0,0,1,0,0,1,0,0,21
R_1PaTouXujEuwlqR,2021-04-06 19:27:18,2000,1,0,92,81,50,81,85,86,...,1,0,0,1,0,0,1,0,0,5
R_2PALXRePS8B62fv,2021-04-06 20:16:01,1999,1,0,91,78,50,20,64,95,...,0,0,0,1,0,0,0,0,1,4

In [33]:
df["receive_info"] = df["receive_info"].str.replace(".*", "1")
df["receive_info"] = df["receive_info"].fillna("0")
df["receive_info"] = df["receive_info"].astype(int)

## Binarize Treatment Column

In [34]:
treatment = df["social_media_group"]
treatment = treatment.str.replace(".*(control)", "0")
treatment = treatment.str.replace(".*(treatment)", "1")

df["treatment"] = treatment.astype(int)
df = df.drop("social_media_group", axis = 1) #don't need this anymore

## Fix Recall

In [35]:
df.columns

Index(['date', 'year', 'gender', 'transfer', 'mental_health',
       'social_distancing', 'drag_50', 'sexist_comment', 'support_eating',
       'stop_svsh', 'control_recall', 'treat_recall', 'receive_info',
       'social_media_year', 'control_pg1', 'control_pg2', 'treat_pg1',
       'treat_pg2', 'asian', 'black', 'latino',
       'native hawaiian or pacific islander', 'white', 'other:',
       'prefer not to answer', 'undergrad_student', '1st_year', '2nd_year',
       '3rd_year', '4th_year', '5th_year_plus', 'bachelor_degree',
       'no_college', 'some_college', 'read_daily', 'read_less_weekly',
       'read_daily_more', 'read_weekly', 'write_daily', 'write_less_weekly',
       'write_more_daily', 'write_weekly', 'outcome', 'treatment'],
      dtype='object')

In [36]:
#TDL for Data Cleaning

#1. one hot encode all categorical columns DONE
#2. operationalize the recall column - "did they recall treatment or control" 1, 0 DONE
#2a. *maybe* think about adding other recall attributes DONE
#3. what to fill in for null values on the block randomized questions 
# (drop all rows where this is the case)
#4. Drop ppl in drag_50 column where answer != 50 - DONE 
#5. Change "social_media_group" to 1 or 0 for treatment vs control DONE
#6. Compute outcome "Stop_SVSH" absolute difference column DONE

In [37]:
recall = df['treat_recall'].fillna(df['control_recall']) #bring in any write in genders into the gender column 

recall = recall.str.replace(".*(control|treatment).*", "1")
recall = recall.str.replace("[\D].*", "0") 

df["recall"] = recall

df = df.drop(columns = ["treat_recall", 'control_recall']) #don't need this anymore

In [38]:
df.columns

Index(['date', 'year', 'gender', 'transfer', 'mental_health',
       'social_distancing', 'drag_50', 'sexist_comment', 'support_eating',
       'stop_svsh', 'receive_info', 'social_media_year', 'control_pg1',
       'control_pg2', 'treat_pg1', 'treat_pg2', 'asian', 'black', 'latino',
       'native hawaiian or pacific islander', 'white', 'other:',
       'prefer not to answer', 'undergrad_student', '1st_year', '2nd_year',
       '3rd_year', '4th_year', '5th_year_plus', 'bachelor_degree',
       'no_college', 'some_college', 'read_daily', 'read_less_weekly',
       'read_daily_more', 'read_weekly', 'write_daily', 'write_less_weekly',
       'write_more_daily', 'write_weekly', 'outcome', 'treatment', 'recall'],
      dtype='object')

In [39]:
df.head()

,date,year,gender,transfer,mental_health,social_distancing,drag_50,sexist_comment,support_eating,stop_svsh,...,read_less_weekly,read_daily_more,read_weekly,write_daily,write_less_weekly,write_more_daily,write_weekly,outcome,treatment,recall
id,,,,,,,,,,,,,,,,,,,,,
R_2Ww2RqGNH9yctjs,2021-04-06 16:52:23,2000,1,0,90,51,50,60,61,90,...,0,1,0,0,1,0,0,1,1,1
R_3qe5vira5vFiYOW,2021-04-06 17:35:11,2000,1,0,78,36,50,61,71,96,...,0,0,0,0,1,0,0,5,0,0
R_21gN207HSdeja1t,2021-04-06 19:08:49,2001,1,0,97,8,50,57,92,70,...,0,1,0,0,1,0,0,21,1,1
R_1PaTouXujEuwlqR,2021-04-06 19:27:18,2000,1,0,92,81,50,81,85,86,...,0,1,0,0,1,0,0,5,0,1
R_2PALXRePS8B62fv,2021-04-06 20:16:01,1999,1,0,91,78,50,20,64,95,...,0,1,0,0,0,0,1,4,0,1

# Clean Up Attention

In [40]:
page_1 = df['control_pg1'].fillna(df['treat_pg1']) 
page_2 = df['control_pg2'].fillna(df['treat_pg2']) 

df["page_1"] = page_1
df["page_2"] = page_2

df = df.drop(columns = ["control_pg1", 'treat_pg1', 'control_pg2', 'treat_pg2']) #don't need this anymore

In [42]:
df.to_csv("data/clean_data.csv")